.c-menu {
    display: flex;
    flex-direction: column;
}

.c-menu--closed {
    display: none;
}

.c-btn-env {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgb(189, 189, 189);
    padding: 20px;
    margin: 5px;
    &:hover {
        box-shadow: 5px 2px 2px rgb(227, 227, 227);
    }
}
